* {
  font-family: Nunito, arial;
  padding: 0;
  margin: 0;
}

body {
  padding: 60px 10% 0px 10%;
  background-color: rgb(0, 0, 15);
  color: white;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 16px;
  font-size: 24px;
  padding: 12px;
  position: fixed;
  top: 1%;
  right: 25%;
  left: 25%;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  border: 2px solid rgb(180, 180, 180) ;
  font-weight: 600;
  border-radius: 24px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.415);
}

.first-look-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  margin-bottom: 58px;
  border-radius: 24px;
  color: rgb(0, 0, 15);
  text-align: center;
  padding: 0px 150px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.4);
}

.first-look-container h1 {
  font-size: 56px;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.main-left-container h2 {
  font-weight: 600;
  font-size: 22px;
}

.main-left-container h1 {
  font-size: 54px;
  line-height: 50px;
  content: "blablabla";
}

.main-left-container p {
  font-size: 18px;

}

.cv-button {
  background-color: rgb(248, 248, 248);
  font-size: 22px;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  color: rgb(0, 0, 15);
}

.contact-button {
  background-color: rgb(0, 0, 15);
  font-size: 22px;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid rgb(248, 248, 248);
  color: rgb(255, 255, 255);
}

.fa-brands {
  color: rgb(248, 248, 248);
  font-size: 32px;
}

.main-right-container {
  width: 40%;
}

.main-right-container img {
  height: 400px;
}